body {
  margin: 0;
}

.wrapper_header{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
}

.developer_text {
  width: 93px;
  height: 24px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  color: #000000;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.developer {
  box-sizing: border-box;

  display: flex;
  align-items: center;
  padding: 0 7px;
  gap: 8px;

  position: absolute;
  width: 109px;
  height: 32px;
  left: 140px;
  top: 38px;

  border: 2px solid #000000;
  border-radius: 8px;
}

.main_navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 40px;
  gap: 32px;

  position: static;
  width: 446px;
  height: 24px;

  margin: 0;
  justify-self: center;

  list-style: none;
}

.main_navigation__text {
  text-decoration: none;
  width: 53px;
  height: 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */


  color: #000000;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.login {
  position: absolute;
  width: 170px;
  height: 170px;
  right: 148px;
  top: 40px;

  background: #F1F1F1;
  border-radius: 10000px;
}

.login_img {
  position: absolute;
  width: 110px;
  height: 110px;
  left: 30px;
  top: 26px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 110px;
  line-height: 110px;
  /* identical to box height, or 100% */

  text-align: center;

  color: #000000;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
  /* or 100% */

  margin: 0;

  text-align: center;

  color: #181818;
}

.block_h1 {
  position: static;
  width: 804px;
  height: 128px;
  margin: 84px auto 0;

  justify-self:center;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
  /* or 100% */

  text-align: center;
  letter-spacing: -0.02em;

  color: #181818;
}

.under_h1 {
  width: 484px;
  height: 48px;
  margin: 40px auto 0;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-align: center;

  color: #000000;
}


.header_img_chat {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 209px;
  top: 362px;

  background: #F1F1F1;
  border-radius: 10000px;
}

.header_img_chat_icon {
  position: absolute;
  width: 28px;
  height: 24px;
  left: 18px;
  top: 20px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 24px;
  /* identical to box height, or 86% */

  text-align: center;

  color: #000000;
}

.header_img_lightning {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 169px;
  top: 410px;

  background: #F1F1F1;
  border-radius: 10000px;
}

.header_img_lightning_icon {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 30px;
  top: 34px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height, or 100% */

  text-align: center;

  color: #000000;
}


.contact {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 452px;
  height: 56px;
  margin: 80px auto 0;
}

.contact_telegram {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 24px 17px;
  gap: 8px;

  width: 215px;
  height: 56px;

  background: #181818;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.contact_telegram_text {
  width: 167px;
  height: 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */


  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.contact_youtube {
  box-sizing: border-box;

  background-color: white;
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 24px 17px;
  gap: 12px;

  width: 221px;
  height: 56px;

  border: 2px solid #181818;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.contact_youtube_text {
  width: 137px;
  height: 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */


  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}


.examples {
  display: grid;
  grid-template-columns: 580px 580px;

  width: 1160px;
  height: 2056px;

  margin: 120px auto 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 17px;

  grid-column: 1/3;

  width: 473px;
  height: 32px;
  margin: 0 auto 0;
}

.navigation_all_block {
  display: flex;
  align-items: center;
  padding: 2px 16px;

  justify-content: center;

  width: 62px;
  height: 32px;

  background: #181818;
  border-radius: 10000px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.navigation_all_text {
  width: 30px;
  height: 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #FFFFFF;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.navigation_site_block {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 16px;
  gap: 8px;

  justify-content: center;

  width: 146px;
  height: 32px;

  border: 1px solid #000000;
  border-radius: 10000px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.navigation_site_text {
  width: 114px;
  height: 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */


  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.navigation_development_block {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 16px;
  gap: 8px;

  justify-content: center;

  width: 123px;
  height: 32px;

  border: 1px solid #000000;
  border-radius: 10000px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.navigation_development_text {
  width: 91px;
  height: 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */


  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.navigation_design_block {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 16px;
  gap: 8px;

  justify-content: center;

  width: 91px;
  height: 32px;

  border: 1px solid #000000;
  border-radius: 10000px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}

.navigation_design_text {
  width: 59px;
  height: 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */


  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}


.img_example_1 {
  box-sizing: border-box;

  width: 1160px;
  height: 460px;

  border: 1px solid #DBDBDB;
  border-radius: 20px;

  /* Inside auto layout */

  grid-column: 1/3;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.img_example_2 {
  box-sizing: border-box;

  width: 560px;
  height: 400px;

  border: 1px solid #DBDBDB;
  border-radius: 20px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.img_example_3 {
  box-sizing: border-box;

  width: 560px;
  height: 400px;

  justify-self: flex-end;

  border: 1px solid #DBDBDB;
  border-radius: 20px;

  grid-row:3;
  grid-column: 2/3;
  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.img_example_4 {
  box-sizing: border-box;

  width: 1160px;
  height: 544px;

  grid-column: 1/3;
  grid-row: 4;

  border: 1px solid #DBDBDB;
  border-radius: 20px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;

}

.img_example_5 {
  box-sizing: border-box;

  width: 560px;
  height: 460px;


  border: 1px solid #DBDBDB;
  border-radius: 20px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.img_example_6 {
  box-sizing: border-box;

  justify-self:flex-end;

  width: 560px;
  height: 460px;

  border: 1px solid #DBDBDB;
  border-radius: 20px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}


.about_me {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 997px;
  height: 560px;

  margin: 120px auto 0;
}

.about_me_text {
  position: relative;
  right: -100px;
  top: 0;
  display: flex;
  flex-direction: column;
}

.img_face {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 560px;

  left: 73px;

  border-radius: 24px;
}

.back_cup {
  position: absolute;
  top: 448px;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;

  background: #F1F1F1;
  border-radius: 50%;
}

.cup {


  width: 40px;
  height: 40px;


  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height, or 100% */

  text-align: center;

  color: #000000;
}

.about_me_profession {
  display: inline-block;
  width: 478px;
  height: 64px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */

  letter-spacing: -0.02em;

  color: #181818;
}

.about_me_info {
  display: inline-block;
  width: 484px;
  height: 168px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */


  color: #000000;
}

.dop_info_1 {
  display: inline-block;
  width: 41px;
  height: 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #181818;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.dop_info_2 {
  display: inline-block;
  width: 79px;
  height: 48px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */


  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.dop_info_3 {
  display: inline-block;
  width: 63px;
  height: 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.dop_info_4 {
  display: inline-block;
  width: 87px;
  height: 48px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */


  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.dop_info_5 {
  display: inline-block;
  width: 38px;
  height: 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.dop_info_6 {
  display: inline-block;
  width: 46px;
  height: 48px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */


  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}


.div_services {
  width: 100%;
  height: 768px;

  margin-top: 120px;

  background: #181818;
}

.services_title {
  width: 156px;
  height: 64px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */

  margin: 0 auto 0;
  padding-top: 120px;
  letter-spacing: -0.02em;

  color: #FFFFFF;
}

.services {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 28px;

  margin: 80px auto 0;
  width: 1400px;
  height: 384px;
}

.services_site {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 8px;

  width: 368px;
  height: 384px;

  background: #FFFFFF;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.services_site_text1 {
  width: 288px;
  height: 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */

  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #181818;

  opacity: 0.5;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.services_site_text2 {
  width: 288px;
  height: 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */


  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.services_site_text3 {
  width: 288px;
  height: 96px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */


  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.services_site_text4 {
  width: 288px;
  height: 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.services_design {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 8px;

  width: 368px;
  height: 384px;

  background: #FFFFFF;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

.services_design_text1 {
  width: 288px;
  height: 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */

  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #181818;

  opacity: 0.5;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.services_design_text2 {
  width: 288px;
  height: 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */


  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.services_design_text3 {
  width: 288px;
  height: 96px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */


  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.services_design_text4 {
  width: 153px;
  height: 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.services_direction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 8px;

  width: 368px;
  height: 384px;

  background: #FFFFFF;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 1;
}

.services_direction_text1 {
  width: 288px;
  height: 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */

  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #181818;

  opacity: 0.5;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.services_direction_text2 {
  width: 288px;
  height: 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */


  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.services_direction_text3 {
  width: 288px;
  height: 96px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */


  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.services_direction_text4 {
  width: 140px;
  height: 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}


.price_title {
  width: 446px;
  height: 64px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */

  margin: 120px auto 0;

  letter-spacing: -0.02em;

  color: #181818;

}

.price_img_time {
  position: absolute;
  left: 61px;
  top: 4532px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;

  background: #F1F1F1;
  border-radius: 10000px;
}

.price_img_time_icon {
  width: 40px;
  height: 40px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height, or 100% */

  margin-bottom: 10px;

  text-align: center;

  color: #000000;
}

.price_img_login {
  position: absolute;
  width: 170px;
  height: 170px;
  top: 4655px;
  right: 64px;

  background: #F1F1F1;
  border-radius: 10000px;
}

.price_img_login_icon {
  position: absolute;
  width: 110px;
  height: 110px;
  left: 30px;
  top: 26px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 110px;
  line-height: 110px;
  /* identical to box height, or 100% */

  text-align: center;

  color: #000000;
}

.cost {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 24px;
  gap: 8px;

  margin: 80px auto 0;

  width: 448px;
  height: 368px;

  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 16px;
}

.cost_type_work {
  width: 400px;
  height: 48px;

  /* #fff white */
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  background: #FFFFFF;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.cost_size_project {
  width: 400px;
  height: 48px;

  /* #fff white */

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  background: #FFFFFF;
  opacity: 0.5;
  border-radius: 8px;

  margin-top: 24px;
  margin-bottom: 24px;
  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}


.check_ege_text {
  width: 331px;
  height: 48px;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */


  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.check_ege_input {
  display: none;
}

.check_ege_input:checked + .check_ege_label::before {
  background-image: url(../icons/check_mark.png);
  background-size: 150%;
  background-position: -3px 0px;
}

.check_ege_label {
  padding-left: 20px;
}

.check_ege_label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  vertical-align: middle;
  margin-left: -10px;
  margin-right: 10px;

  border: 1px solid #808080;
  border-radius: 4px;
}

.cost_final {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 24px 17px;
  gap: 8px;

  width: 400px;
  height: 56px;

  border: 2px solid #181818;
  border-radius: 8px;
  background-color: #fff;
  /* Inside auto layout */

  margin-top: 20px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.cost_final_text {
  width: 175px;
  height: 24px;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */


  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.dev_inf {
  box-sizing: border-box;

  /* Auto layout */

  flex-direction: column;
  align-items: flex-start;
  padding: 40px 24px;
  gap: 24px;

  width: 400px;
  height: 384px;

  margin: -1px auto 0;

  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 0px 0px 16px 16px;
}

.dev_inf_title {
  width: 318px;
  height: 64px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 64px;
  /* identical to box height, or 200% */

  letter-spacing: -0.02em;

  color: #181818;

  margin: 0;
  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.dev_inf_1 {
  width: 83px;
  height: 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  margin: 0;
  margin-top: 24px;
  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.dev_inf_2 {
  width: 120px;
  height: 24px;


  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  margin: 0;
  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.dev_inf_3 {
  width: 141px;
  height: 24px;


  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  margin: 0;
  margin-top: 24px;
  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.dev_inf_4 {
  width: 161px;
  height: 24px;


  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  margin: 0;
  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.dev_inf_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 24px 17px;
  gap: 8px;

  width: 352px;
  height: 56px;

  background: #181818;
  border-radius: 8px;

  margin-top: 40px;
  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.dev_inf_button_text {
  width: 135px;
  height: 24px;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */


  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}


.div_question {
  height: 1232px;

  margin-top: 120px;

  background: #181818;
}

.question_title {
  width: 316px;
  height: 64px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */

  margin: 0 auto 0;
  padding-top: 120px;
  letter-spacing: -0.02em;

  color: #FFFFFF;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  margin: 80px auto 0;

  width: 1160px;
  height: 848px;

}

.question_1 {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 40px;
  gap: 24px;

  width: 1160px;
  height: 88px;

  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.question_2 {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 40px;
  gap: 24px;

  width: 1160px;
  height: 328px;

  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.question_3 {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 40px;
  gap: 24px;

  width: 1160px;
  height: 88px;

  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.question_4 {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 40px;
  gap: 24px;

  width: 1160px;
  height: 88px;

  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}

.question_5 {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 40px;
  gap: 24px;

  width: 1160px;
  height: 88px;

  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
}

.question_6 {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 40px;
  gap: 24px;

  width: 1160px;
  height: 88px;

  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 5;
  align-self: stretch;
  flex-grow: 0;
}

.question_1_title {
  width: 239px;
  height: 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */


  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.question_2_title {
  width: 147px;
  height: 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  margin-bottom: 0;
  margin-top: 0;

  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.question_3_title {
  width: 133px;
  height: 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */


  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.question_4_title {
  width: 239px;
  height: 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */


  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.question_5_title {
  width: 322px;
  height: 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */


  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.question_6_title {
  width: 357px;
  height: 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */


  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.question_2_text_1 {
  width: 800px;
  height: 50px;

  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */


  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.question_2_text_2 {
  margin: 0;
  padding-left: 30px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */


  color: #181818;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}


.application_title {
  width: 371px;
  height: 64px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */

  margin: 120px auto 0;

  letter-spacing: -0.02em;

  color: #181818;
}

.application_title2 {
  width: 391px;
  height: 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  margin: 8px auto 0;

  color: #181818;
}

.form {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 24px;
  gap: 8px;

  width: 448px;
  height: 552px;

  margin: 80px auto 160px;

  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 16px;
}

.form_input1 {
  width: 400px;
  height: 48px;

  /* #fff white */

  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.form_input2 {
  width: 400px;
  height: 48px;

  margin-top: 24px;
  /* #fff white */

  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.form_input3 {
  width: 405px;
  height: 48px;

  margin-top: 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* #fff white */
  border: 1px solid #CCCCCC;
  background: #FFFFFF;
  border-radius: 8px;

  color: #808080;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.form_input4 {
  width: 400px;
  height: 160px;

  /* #fff white */

  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 8px;

  margin-top: 24px;
  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.form_input1::placeholder {

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */


  /* #808080 secondary black */

  color: #808080;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.form_input2::placeholder {

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */


  /* #808080 secondary black */

  color: #808080;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.form_input3 option {

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */


  /* #808080 secondary black */

  color: #808080;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.form_input4::placeholder {

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* #808080 secondary black */

  color: #808080;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.form_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 24px 17px;
  gap: 8px;

  width: 405px;
  height: 56px;

  background: #181818;
  border-radius: 8px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.form_button_text {
  display: inline-block;
  width: 178px;
  height: 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */


  color: #FFFFFF;


  /* Inside auto layout */


  flex: none;
  order: 0;
  flex-grow: 0;
}

.application_img_lightning_icon {
  position: absolute;
  left: 30px;
  top: 30px;

  background-size: 40px 40px;

  font-family: 'Raleway', sans-serif, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height, or 100% */

  text-align: center;

  color: #000000;
}

.application_img_lightning {
  position: absolute;
  left: 111px;
  top: 6774px;

  width: 100px;
  height: 100px;

  background: #F1F1F1;
  border-radius: 10000px;
}

.application_img_login_icon {
  position: absolute;
  left: 30px;
  top: 26px;

  width: 110px;
  height: 110px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 110px;
  line-height: 110px;
  /* identical to box height, or 100% */

  text-align: center;

  color: #000000;
}

.application_img_login {
  position: absolute;
  right: 18px;
  top: 7156px;

  width: 170px;
  height: 170px;

  background: #F1F1F1;
  border-radius: 10000px;
}

.application_img_chat_icon {
  position: absolute;
  left: 42px;
  top: 45px;

  background-size: 56px 24px;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 24px;
  /* identical to box height, or 43% */

  text-align: center;

  color: #000000;
}

.application_img_chat {
  position: absolute;
  left: 250px;
  top: 7392px;

  width: 140px;
  height: 140px;

  background: #F1F1F1;
  border-radius: 10000px;
}

.application_img_soc_network {
  position: absolute;
  top: 6950px;
  left: 1190px;

  display: flex;
  flex-direction: column;
  gap: 28px;
}

.application_img_facebook {
  background-color: #fff;
  border: 0;
}

.application_img_twitter {
  background-color: #fff;
  border: 0;
}

.application_img_vk {
  background-color: #fff;
  border: 0;
}
